<div style="margin: 15px;">
    <h3>Logged in as: Mark Hamset</h3>
</div>
<div style="display: flex;margin: 15px;">
    <div style="width: 700px">
        <input type="text" placeholder="Start date" ng-model="absenteeismCandidate.startDate"/>
        <input type="number" placeholder="Duration" ng-model="absenteeismCandidate.duration"/>
        <input type="text" placeholder="T, P or V" ng-model="absenteeismCandidate.value"/>
        <button ng-click="addTask()">Book absenteeism</button>
    </div>
    <div style="flex-grow: 1">
        <span class="clash-warning">{{clashWarning}}</span>
    </div>
</div>
<div style="display: flex;margin-top: 15px;">
    <div style="width: 80px;">
        <div class="center">TEAMS</div>
        <ul class="center abs-list">
            <li ng-repeat="teamName in chartData.teamNames">
                <button style="width: 50px" ng-click="toggleTeam(teamName)">{{teamName}}</button>
            </li>
        </ul>
    </div>
    <div style="flex-grow: 1;">
        <div class="center">MEMBERS</div>
        <ul class="center abs-list">
            <li ng-repeat="name in chartData.removedNames" ng-click="restoreTask(name)">
                <input style="width: 180px" type="button" value="{{name}}"/>
            </li>
        </ul>
    </div>
    <div id="chart" style="flex-grow: 1;"></div>
</div>
<!--<gantt></gantt>-->